th,
td {
  width: 90px;
  font-size: small;
  border: 1px solid rgb(255, 255, 255);
    padding: 1px;
    text-align: right;
    
  /* o el ancho que desees */
  /* ... otros estilos */
}



.td2,
.th2 {

}


.table-container {
  max-height: 400px;
  /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
}

/* Asegura que el encabezado permanezca fijo */
.table-container table {
  table-layout: fixed;
}

/* Asegura que el encabezado sea visible al hacer scroll */
/* Asegura que el encabezado principal sea visible al hacer scroll */
.thPrincipal {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #35424a;
  color: #fff;
}

.thSecundario {
  position: sticky;
  top: 40px;
  z-index: 2;
  background-color: #778899;
  color: #fff;
}

.thTerciario {
  position: sticky;
  top: 60px;
  /* Ajusta según sea necesario, asegúrate de que sea menor que 40px */
  z-index: 1;
  background-color: #d3d3d3;
  color: #000;
}

.td1 {
  background-color: #8bb0bd;
  /* Ejemplo de tono más oscuro que el encabezado principal */
  color: #000000;
  /* Texto en blanco para un contraste adecuado */
}


.td2 {
  background-color: #99aabb;
  /* Ejemplo de tono más claro que el encabezado secundario */
  color: #000;
  /* Texto oscuro para un contraste adecuado */
}
.td3{
background-color: #cbe2f3cd;
  /* Ejemplo de tono claro para el encabezado terciario */
  color: #000;
  /* Texto oscuro para un contraste adecuado */
}