.cardUsuario {
        
    /* height: 150px;
    width: 300px; */
            /* position: "absolute", // Fijar el componente en la ventana del navegador
            top: "100px", // Ajustar la posición vertical
            left: "930px", // Ajustar la posición horizontal
     */

    /* width: 18rem;
    position: absolute; 
            top: 100px; 
            left: 10px; */
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            
};

/* CSS para el contenedor principal */
.containersinc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
}

/* Loader CSS */
.loader-container {
        display: flex;
        align-items: center;
}

.loader {
        border: 3px solid #f3f3f3;
        border-radius: 50%;
        border-top: 3px solid #3498db;
        width: 25px;
        height: 25px;
        animation: spin 2s linear infinite;
        margin-right: 10px;
        /* Espacio entre el loader y el párrafo */
}

@keyframes spin {
        0% {
                transform: rotate(0deg);
        }

        100% {
                transform: rotate(360deg);
        }
}



.fondoLoader{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999999999;
        width: 100%;
        height: 100vh;
        background-color: white;

}