.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff; /* Opcional: Agrega un color de fondo deseado */
    z-index: 1; /* Opcional: Asegura que la cabecera esté por encima del contenido de la tabla */
  }