code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.contenedor {
  height: 100vh;
}
.input-container {
  display: flex;
  align-items: center;
}

.dollar-sign {
  padding-right: 5px;
}
.select {
  -webkit-appearance: none; /* Quitar la apariencia predeterminada del navegador */
  -moz-appearance: none;
  appearance: none;
  background: "red"; /* Hacer el fondo transparente */
  background-image: url("ruta-de-su-imagen"); /* Reemplazar 'ruta-de-su-imagen' con la ruta de la imagen que deseas usar como icono personalizado */
  background-repeat: no-repeat; /* Evitar la repetición de la imagen */
  background-position: center right; /* Posición de la imagen personalizada */
  padding-right: 10px; /* Espacio para la imagen */
  /* Puedes ajustar estos valores según tus preferencias */
}
